<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1,user-scalable=0" />
		<title>Refael David Hotel | Secrets</title>

        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
		
        <!--CSS Stylesheets-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="css/index_page.css" rel="stylesheet" type="text/css">

        <!--Font Awesome-->
        <script defer src="https://kit.fontawesome.com/4c0eefdf49.js" crossorigin="anonymous"></script>
        
        <!--Bootstrap Scripts-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        
        <!--Logo Navbar-->
        <link href="images/icon.png" rel="icon">
      
	</head>

<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You have successfully registered</h1>
    <p class="secret-text">Welcome to the VIP customer club of the Raphael David Hotel, you are invited to enjoy a variety of discounts and special events.
      <br> updates will be sent to the email you registered with on the website</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
